In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [6]:
1/2.0

0.5

In [7]:
2 ** 4

16

In [8]:
2 + 3 * 5  + 5

22

In [9]:
(2 + 3 ) * ( 5  + 5)

50

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
8 % 2

0

In [14]:
var = 2

In [15]:
var

2

In [16]:
x = 2

In [17]:
y = 2

In [20]:
name_var = 12

In [ ]:
# Strings

In [21]:
' single quote'

' single quote'

In [22]:
"This is a string"

'This is a string'

In [23]:
"I can't got"

"I can't got"

In [24]:
x = 'hello'

In [25]:
x

'hello'

In [26]:
print (x)

hello

In [27]:
num = 12
name = 'same'

In [32]:
print('My number is {one} and my name is {two}, more {one}'.format(one = num, two=name))

My number is 12 and my name is same, more 12

In [33]:
s = 'hello'

In [34]:
s[0]

'h'

In [35]:
s[-1]

'o'

In [36]:
s[0:]

'hello'

In [37]:
s[:]

'hello'

In [38]:
s[:3]

'hel'

In [39]:
s[0:3]

'hel'

In [40]:
s[1:4]

'ell'

In [41]:
[1, 2, 3]

[1, 2, 3]

In [42]:
['a', 'b', 'c']

['a', 'b', 'c']

In [43]:
my_list = ['a', 'b', 'c']

In [44]:
my_list.append('d')

In [45]:
my_list

['a', 'b', 'c', 'd']

In [46]:
my_list[0]

'a'

In [47]:
my_list[1:3]

['b', 'c']

In [48]:
my_list[0] = 'NEW'

In [49]:
my_list

['NEW', 'b', 'c', 'd']

In [50]:
nest = [1,2,[3,4]]

In [51]:
nest

[1, 2, [3, 4]]

In [52]:
nest[2]

[3, 4]

In [53]:
nest[2][1]

4

In [54]:
nest = [1,2,3,[4,5,['target']]]

In [57]:
nest[3][2][0]

'target'

In [60]:
d = {'key1' : 'value', 'key2' : 123}

In [61]:
d['key1']

'value'

In [62]:
d = {'k1': [1,2,3]}

In [64]:
d['k1'][1]

2

In [65]:
d = {'k1' : {'innerkey' : [1,2,3]}}

In [66]:
d['k1']['innerkey'][1]

2

In [67]:
True

True

In [68]:
False

False

In [69]:
my_list = [1,2,3]

In [70]:
my_list[0]

1

In [71]:
t = (1,3,4)

In [72]:
t[0]

1

In [74]:
my_list[0] = 'new'

In [75]:
my_list

['new', 2, 3]

In [76]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [77]:
{1,2,3}

{1, 2, 3}

In [78]:
{1,2,1,1,2,4}

{1, 2, 4}

In [79]:
set([1,1,1,1,1,2,3,4,3,2,2])

{1, 2, 3, 4}

In [80]:
s = {1,2,3}

In [81]:
s.add(5)

In [83]:
s

{1, 2, 3, 5}

In [84]:
s.add(5)

In [85]:
s

{1, 2, 3, 5}

In [86]:
1 > 2

False

In [87]:
1 < 2

True

In [88]:
1 <= 1

True

In [89]:
1 == 2

False

In [90]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-90-4c0a01f26144>, line 1)

In [91]:
1 != 3

True

In [93]:
'hi' != 'bye'

True

In [95]:
(1 < 2) and ( 2 > 3)

False

In [96]:
True and False

False

In [97]:
if 1 < 2:
    print ('yep')

yep

In [98]:
if True:
    print('yep')

yep

In [102]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [103]:
seq = [1,2,3,4,5]

In [105]:
for item in seq:
    print(item)

1
2
3
4
5

In [107]:
i = 1
while i < 5:
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

In [108]:
for x in seq:
    print(x)

1
2
3
4
5

In [109]:
range(0, 5)

[0, 1, 2, 3, 4]

In [110]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [111]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [112]:
test =range(0,5)

In [113]:
test

[0, 1, 2, 3, 4]

In [114]:
test[0]

0

In [115]:
x = [1,2,3,4]

In [116]:
out = []

In [117]:
for num in x:
    out.append(num ** 2)

In [118]:
print (out)

[1, 4, 9, 16]

In [119]:
[num **2 for num in x]

[1, 4, 9, 16]

In [122]:
out  = [num ** 2 for num in x]

In [123]:
out

[1, 4, 9, 16]

In [126]:
def my_func(name='defult'):
    print('hello ' + name)

In [129]:
my_func

In [135]:
def square(num):
    """
    This is a docstring.
    can go multple lines
    this function squares a number
    """
    return num ** 2

In [133]:
output = square(2)

In [134]:
output

4

In [142]:
t =lambda var: var * 2

In [143]:
t(5)

10

In [137]:
times2(4)

8

In [138]:
seq = [1,2,3,4,5]

In [144]:
map(lambda num: num*3, seq)

[3, 6, 9, 12, 15]

In [145]:
filter(lambda num: num%2 == 0, seq)

[2, 4]

In [147]:
s = 'hello my name is Yusuke'

In [148]:
s.lower()

'hello my name is yusuke'

In [149]:
s.upper()

'HELLO MY NAME IS YUSUKE'

In [150]:
s.split()

['hello', 'my', 'name', 'is', 'Yusuke']

In [151]:
tweet = 'Go Sports! #Sports'

In [152]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [153]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [154]:
d

{'k1': {'innerkey': [1, 2, 3]}}

In [155]:
d = { 'k1': 1, 'k2': 2}

In [157]:
d.keys()

['k2', 'k1']

In [158]:
d.items()

[('k2', 2), ('k1', 1)]

In [159]:
d.values()

[2, 1]

In [160]:
lst = [1,2,3]

In [161]:
lst.pop()

3

In [162]:
lst

[1, 2]

In [163]:
lst = [1,2,3,4,5]

In [164]:
item = lst.pop()

In [165]:
item

5

In [166]:
lst

[1, 2, 3, 4]

In [167]:
first = lst.pop(0)

In [168]:
first

1

In [169]:
lst

[2, 3, 4]

In [170]:
lst.append('new')

In [171]:
lst

[2, 3, 4, 'new']

In [172]:
'x' in  [1,2,3,4]

False

In [173]:
'x' in ['x', '2']

True

In [177]:
x = [(1,2), (3,4), (5,6)]

In [175]:
x

{(1, 2), (3, 4), (5, 6)}

In [178]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [180]:
for a, b in x:
    print (b)

2
4
6