In [1]:
import numpy as np
import pandas as pd

In [3]:
column_names=['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data', sep='\t', names=column_names)

In [4]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [5]:
movie_titles = pd.read_csv('Movie_Id_Titles')
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [7]:
df = pd.merge(df, movie_titles, on='item_id')

In [9]:
df.head()

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)

In [12]:
n_users = df.user_id.nunique()
n_items = df.item_id.nunique()

print('Num of Users' + str(n_users))
print('Num of items' + str(n_items))

Num of Users944
Num of items1682

In [13]:
from sklearn.cross_validation import train_test_split
train_data, test_data = train_test_split(df, test_size=0.25)

In [18]:
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1,line[2]-1] = line[3]

test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1] - 1,line[2]-1] = line[3]

In [20]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity= pairwise_distances(train_data_matrix, metric='cosine')
item_similarity= pairwise_distances(train_data_matrix.T, metric='cosine')